.reveal { font-size: 1.2em; }
.reveal h1 {font-size: 2.0em; }
.reveal h2 {font-size: 1.5em; }
.reveal h3 {font-size: 1.4em; }
.reveal h4 {font-size: 1.3em; }

.reveal .slides { text-align: left; }

:root {
  --r-background-color: #faf4ed;
  --r-main-color: #575279;
  --r-heading-color: #b4637a;
  --r-link-color: #d7827e;
  --r-link-color-hover: #907aa9;
  --r-selection-color: #56949f;
}
